.layout {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  &__topbar {
    flex: 0 0 auto;
  }

  &__main {
    display: flex;
    gap: 16px;
    flex: 1 1 auto;
  }

  &__sidebar {
    flex: 0 1 256px;
  }

  &__content {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}